<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springcrud.mapper.UserMapper"><!-- 연결할 인터페이스 풀네임 -->

	<!-- map.beginRow rowPerPage searchWord -->
	<select id="selectUserListByPage" parameterType="Map" resultType="com.example.springcrud.dto.User">
		select user_no userNo, user_id userId
		from user
		<where>
			<if test="searchWord != null and searchWorld !=''">
				user_id like concat('%', #{searchWord}, '%')
			</if>
		</where>
		limit #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectUserByLogin" parameterType="com.example.springcrud.dto.User" resultType="Map">
		select u.user_id userId, ui.user_city userCity
		from user u inner join user_info ui
		on u.user_no = ui.user_no
		where u.user_id = #{userId} and u.user_pw = #{userPw}
	</select>
	
	<insert id="insertUser" parameterType="com.example.springcrud.dto.User" useGeneratedKeys="true" keyColumn="user_no" keyProperty="userNo">
		insert into user(user_id, user_pw)
		values(#{userId}, #{userPw})
	</insert>
	
	<insert id="insertUserInfo" parameterType="com.example.springcrud.dto.UserInfo">
		insert into user_info(user_no, user_city)
		values(#{userNo}, #{userCity})
	</insert>

</mapper>